body {
    color: #ffffff;
    background-color: #000000;
}

footer {
    background-color: #000000;
    background-image: url("../img/footer.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 1200px 190px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-transform: uppercase;
}

footer h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
}

a{
    text-decoration: none;
}

a:link {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

a:hover {
    color: gray;
}

a:active {
    color: gray;
}

header {
    background-image: url("../img/header.png");
    background-repeat: no-repeat;
    background-size:480px 90px;
    background-position: left;
    background-color: #000000;
}

header h1 {
    font-family: serif;
    color: white;
    display: none;
}

nav {
    border: solid #000000 1px;
    background-color: black;
}

/*
HUD styling
*/

#hud div {
    background-color: #A8000D;
    text-transform: uppercase;
    text-align: left;
    font-family: serif;
}

#start_end_button{
    text-transform: uppercase;
    text-align: left;
    font-family: serif;
}

#start_end_button:hover{
    background: red;
}

/*
Game Board
*/
section {
    background-color: #000000;
}

td {
    background-image: url("../img/cardback.jpg");
    background-repeat: no-repeat;
    background-size:235px 153px;
}

