/*
new tags
*/

header {
    text-align: center;
    background-color: green;
    border: solid #000000 1px;
}

footer {
    text-align: center;
    background-color: red;
    border: solid #000000 1px;
}

section {
    background-color: #ffff00;
    margin: 0 auto;
}

table {
    margin: auto;
    border-collapse:separate;
    border-spacing:10px;
}

td {
    background-image: url("../img/cardback.jpg");
    background-repeat: no-repeat;
    background-size:230px 150px;
    height: 150px;
    width: 230px;
    border: solid #000000 1px;
}

div {
    display: inline-block;
}

.card {
    height: 150px;
    width: 230px;
}
